<% breadcrumb :show_blog, @blog %>
<%= render(
      'shared/list_items',
      items: @articles,
      create_detail_url: -> (article){
        edit_article_path(blog_id: @blog.id, id: article.id)
      },
      create_show_url: -> (article){
        site_show_path(blog_screen_name: @blog.screen_name, article_id: article.id)
      },
      create_delete_url: -> (article){
        article_path(blog_id: @blog.id, id: article.id)
      })
%>

<a href="<%= new_article_path(blog_id: @blog.id) %>">create new article.</a>
