<%= render(
      'shared/list_items',
      items: @articles,
      create_detail_url: -> (article){
        edit_article_path(blog_id: @blog.id, id: article.id)
      })
%>

<a href="<%= new_article_path(blog_id: @blog.id) %>">create new article.</a>
