<% if items %>
  <ul class="list-group">
    <% items.each do |item| %>
      <li class="list-group-item">
        <a href="<%= create_detail_url.call(item) %>">
          <span class="list-group-item-heading h3"><%= item.title %></span>
        </a>
        <a class="btn btn-default pull-right" href="<%= create_show_url.call(item) %>" target="_blank" role="button">Show</a>
        <% if defined? item.description %>
          <p class="list-group-item-text"><%= item.description %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
