// Place all the styles related to the Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sites {
    .articles {
        list-style: none;
        padding-left: 0px;
    }

    .article {
        margin: 0px 50px 50px 50px;

        &-body {
            margin-left: 10px;
        }
    }
}
