<div class="article">
  <h2><%= link_to(
            article.title,
            site_show_path(blog_screen_name: article.blog.screen_name, article_id: article.id))
  %></h2>
  <p class="article-body"><%= article.body %></p>
</div>
