<h1 class="text-center"><%= link_to(
          blog.title,
          site_index_path(blog_screen_name: blog.screen_name))
%></h1>
<%= simple_format html_escape(blog.description), :class => "text-center" %>
