<%= render 'header', blog: @blog %>

<% if @recent_articles %>
  <ul class="articles">
    <% @recent_articles.each do |article| %>
      <li><%= render 'article', article: article %></li>
    <% end %>
  </ul>

  <%= paginate @recent_articles %>
<% end %>
