<%= render 'header', blog: @blog %>

<% if @recent_articles %>
  <ul>
    <% @recent_articles.each do |article| %>
      <li><%= render 'shared/article', article: article %></li>
    <% end %>
  </ul>
<% end %>
